api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    # putting this line in negates the need to define tls on each router in dynamic.yaml
    http:
      tls: {}

certificatesResolvers:
  r53:
    acme:
      email: "Mich@elDevlin.com"
      storage: "/acme.json"
      dnsChallenge:
        provider: "route53"
        delayBeforeCheck: 60

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

log:
  level: INFO

accessLog: {}

global:
  checkNewVersion: true
  sendAnonymousUsage: false

